/**
 * Stylesheet
 * 
 */

* {
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}

body {
  background-color: #f5f4f4;
  font-family: 'Source Sans Pro', sans-serif !important;
}

/* Navbar */
.navbar {
  box-shadow: 0px -1px 8px 2px #a7a7a7;
}
.bg-light {
  background-color: #ffffff !important;
}
.logo-text {
  line-height: 1;
  text-transform: uppercase;
  font-family: "HelveticaNeue-CondensedBold", Helvetica, Arial, sans-serif;
  color: #3375de;
}
a#navLinkLang.nav-link.dropdown-toggle::after {
  display: none;
}
.nav-item:last-of-type a.nav-link {
  padding-right: 0;
}
.nav-link{
   color: #424549 !important; font-size: 20px !important; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important; font-weight:700; 
   letter-spacing: 0.05rem ; 
}

/* Navbar Buttons */
.btn {
border: 2px solid transparent;
}
.btn.btn-outline-primary {
  border-color: #3375DE;
  color: #3375DE !important;
}
.btn.btn-outline-primary:hover,
.btn.btn.btn-outline-primary:active,
.btn.btn.btn-outline-primary:focus {
  color: #ffffff !important;
  background-color: #3375DE !important;
}


/* Breadcrumbs */
.breadcrumb {
  padding: 1rem 0rem;
  background-color: transparent;
}
ol.breadcrumb{margin-top: 20px;}
.breadcrumb-item a {
  color: #BEBEBE; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-weight:700; text-decoration: none;
  font-size: 16px; 
}
.breadcrumb-item+.breadcrumb-item::before {
  content: '>'; color: #BEBEBE; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-weight:700; 
  font-size: 16px; 
}
.breadcrumb-item a:hover, .breadcrumb-item a:active, .breadcrumb-item a:focus {
  color: #000000;
}



/* Contents */
h1.display-4{
  color: #3375DE; font-family: "Source Sans Pro Bold", sans-serif; font-weight: 700;
  font-size: 35px; margin: 17px 0 25px 0;}
.lead, .table, .lof-list, .ta-list{
  color: #424549; font-family: "Source Sans Pro", sans-serif; font-weight: 400; 
  font-size: 18px; line-height: 26px;
}
.lead a, .table a, .lof-list a, .ta-list a{color: #3375DE;}
.subtitle{
  color: #424549; font-family: "Source Sans Pro Bold", sans-serif; font-weight: 700;
  font-size: 20px;  margin: 30px 0;
}
.howto{
  color: #3375de; font-size: 22px; 
  font-family: "Source Sans Pro Bold", sans-serif; font-weight: 700;
  margin: 30px 0 30px 0px;
}




/* Lists */
ul.lof-list {
  list-style: none;
}
ul.lof-list li {
  position: relative;
}
ul.lof-list li::before {
  position: absolute;
  display: block;
  content: '';
  top: 6px;
  left: -1.75rem;
  height: 12px;
  width: 12px;
  background-image: url('../images/bullet.svg');
  background-repeat: no-repeat;
  background-size: cover;
}


ol.ta-list {
  position: relative;
  list-style: none;
  counter-reset: item;
}
ol.ta-list li {
  counter-increment: item;
  margin-left: 0.5rem;
  min-height: 48px;
}
ol.ta-list li:before {
  display: block;
  position: absolute;
  left: 0;
  margin-top: -6px;
  padding-top: 6px;
  content: counter(item);
  background: #3375de;
  border-radius: 100%;
  color: white;
  width: 36px;
  height: 36px;
  text-align: center;
}

/* table */
.table .thead-dark th {
  background-color: #3375DE;
  border-color: #3375de;
}

a.no-deco {
  text-decoration: none !important;
}
table .tb_sns img{width: 28px; height: 28px;}

.table-responsive th:nth-child(1){width: 7%;}
.table-responsive th:nth-child(2){width: 17%;}
.table-responsive th:nth-child(3){width: 20%;}
.table-responsive th:nth-child(4){width: 20%;} 
.table-responsive th:nth-child(5){width: 9%;}
.table-responsive th:nth-child(6){width: 9%;}
.table-responsive th:nth-child(7){width: 9%;}
.table-responsive th:nth-child(8){width: 9%;}



/* Sponsors */
#sponsors img {width: 250px; margin: 5px 0;}

/* Footer*/
.footer {background-color: #424549; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-weight:700; letter-spacing: 0.1em; 
  display: block; padding: 35px 0; font-size: 16px;}
.sns_icon{display: inline; width: 40px; height: 40px; margin: 0 5px;}
.sns_icon:hover{cursor: pointer;}
.footer a{text-decoration: none;}



/* 위에 적는 CSS는 모바일 기준 */


/* Layout */
.wrap{padding: 0 25px 0 25px; }

/* navigation */
.navbar{height: 85px;} 
.logo{width: 40%; height: 40%;}
.rect{ width: 4px; height: 34px;
  background-color: #B0B0BB;}

.header_img{}


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  


}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

  .navbar{height: 100px; height: auto;} 
  
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {



  

  /* Layout */
  .container {max-width: 1460px;}

  /* Navigation */
  .logo{width: 100%; height: 100%; }

  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1.75rem;
    padding-left: 1.75rem;
    font-size: 1.25rem;
    font-weight: bold;
  }

  /* Contents */
  h1.display-4{font-size: 50px; margin: 17px 0 25px 0;}
  .lead, .table, .lof-list, .ta-list{font-size: 19px; line-height: 26px;}
  .subtitle{font-size: 25px; margin: 30px 0;}
  .howto{font-size: 22px; margin: 30px 0 30px 20px;}

  .header_img{width: 100%;}

  /* List */
  ul.lof-list {margin-left: 20px;}
  ol.ta-list {margin-left: 25px;}

  
  /* Breadcrumbs */
  ol.breadcrumb{margin-top: 20px;}
  .breadcrumb-item a {font-size: 20px;}
  .breadcrumb-item+.breadcrumb-item::before {font-size: 20px;}



}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

  /* Layout */
  .wrap{padding: 0 170px 0 170px; }
  
}

